@font-face {
    font-family: "varino";
    src: url("Fuentes/Varino.otf");
}
title{
    font-family: 'varino', sans-serif;
    font-size: 50px;
    background-color: #333;
    border-color: #333;
    text-align: center;
    border-radius: 15px;
    border: 10px solid;
}
#titulo-principal{
    font-family: 'varino', sans-serif;
    font-size: 50px;
    background-color: #333;
    border-color: #333;
    text-align: center;
    border-radius: 15px;
    border: 10px solid;
}
#titulo-principal-intel{
    font-family: 'varino', sans-serif;
    font-size: 50px;
    border-radius: 15px;
    background-color: #0071c5;
    border: 10px solid;
    color: aliceblue;
    
}
#titulo-comparacion-intel{
    font-family: 'varino', sans-serif;
    font-size: 50px;
    border-radius: 15px;
    background-color: #0071c5;
    border: 10px solid;
    color: aliceblue;
    padding: 10px 20px;
    
}
#titulo-comparacion-amd{
    font-family: 'varino', sans-serif;
    font-size: 50px;
    border-radius: 15px;
    background-color: #FF7F00;
    border: 10px solid;
    color: #000000;
    padding: 10px 20px;
    
}
body{
    background-image: url(Imagenes/fondo-1.png);
    background-size: cover;
}
#titulo-principal-amd{
    font-family: 'varino', sans-serif;
    font-size: 50px;
    border-radius: 15px;
    background-color: #FF7F00;
    border: 10px solid;
    color: black;
}
button{
    background-color: transparent;
    color: black;
    border: none;
    
}
#intel-amd{
    font-family: 'varino', sans-serif;
    background-color: #333;
    border-style: solid;
    border-radius: 15px;
    color: aliceblue;
    border-color: white;
}
#intel-amd2{
    background-color: #000000;
    border-style: solid;
    border-radius: 15px;
    color: aliceblue;
    font-family: 'varino', sans-serif
}
#tabla{
    background-color: #333;
    border-style: solid;
    border-radius: 15px;
}
#tabla-intel{
    background-color: #0071c5;
    border-style: solid;
    border-radius: 15px;
}
#tabla-intel2{
    background-color: #333;
    border-style: solid;
    border-radius: 15px;
}
#tabla-amd{
    background-color: #333;
    border-style: solid;
    border-radius: 15px;
}
#tabla-amd2{
    background-color: #FF7F00;
    border-style: solid;
    border-radius: 15px;
}
#intel-lista{
    background-color: #0071c5;
    border-style: solid;
    border-radius: 15px;
    align-content: start;
    color: aliceblue;
}
#amd-lista{
    background-color: #FF7F00;
    border-style: solid;
    border-radius: 15px;
    color: #000000;
}
#intel-caracteristicas{
    background-color: #0071c5;
    border-radius: 15px;                 /* empieza botones intel */
    border-style: solid;
    font-size: 200%;
    color: aliceblue;
    font-family: 'varino', sans-serif;
}
#intel-comparar{
    background-color: #0071c5;
    border-radius: 15px;                 /* empieza botones intel */
    border-style: solid;
    font-size: 200%;
    color: aliceblue;
    font-family: 'varino', sans-serif;
}
#amd-caracteristicas{
    background-color: #FF7F00;
    border-radius: 15px;
    border-style: solid;                  /* empieza botones amd */   
    font-size: 200%;
    border-color: black;
    font-family: 'varino', sans-serif;
}
#amd-comparar{
    background-color: #FF7F00;
    border-radius: 15px;
    border-style: solid;                  /* empieza botones amd */   
    font-size: 200%;
    border-color: black;
    font-family: 'varino', sans-serif;
}
#procesador-amd{
    border-radius: 15px;
    background-color:  #FF7F00;
    color: #000000;
    font-weight: 800;
}
#procesador-intel{
    border-radius: 15px;
    background-color: #0071c5;
    color: aliceblue;
    font-weight: 800;
}
  .contenedor-botones {
    display: flex; /* Hace que los botones se comporten como una fila */
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Alinea los botones verticalmente dentro del contenedor */
  }
  .contenedor-botones button {
    margin: 5px; /* Agrega un poco de margen entre botones */
    padding: 10px 20px; /* Agrega un poco de relleno dentro de los botones */
  }
  .contenedor-botones button:hover {
    cursor: pointer;
}
  
  @media (max-width: 1350px) {
    .contenedor-botones {
      flex-direction: column;
      align-items: center;
    }
  
    .contenedor-botones button {
      margin: 10px; /* Ajustar el espaciado en pantallas pequeñas */
    }
  }
  /* Estilos para el formulario */
#procesador-intel {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Evita que el padding afecte al ancho total */
    margin-bottom: 10px;
}

/* Estilos para las opciones del select */
#procesador-amd option {
    font-size: 16px;
}
#procesador-amd {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Evita que el padding afecte al ancho total */
    margin-bottom: 10px;
}

/* Estilos para las opciones del select */
#procesador-amd option {
    font-size: 16px;
}
#intel-Regresar{
    background-color: #0071c5;
    border-radius: 15px;                 /* empieza botones intel */
    border-style: solid;
    font-size: 200%;
    color: aliceblue;
    font-family: 'varino', sans-serif;
}
#amd-Regresar{
    background-color: #FF7F00;
    border-radius: 15px;                 /* empieza botones intel */
    border-style: solid;
    font-size: 200%;
    color: #000000;
    font-family: 'varino', sans-serif;
}