#titulo-principal{
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    border-radius: 15px;
    background-color: #333;
    border-style: none;
    color: aliceblue;
}
#titulo-principal-intel{
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    border-radius: 15px;
    background-color: #0071c5;
    border-style: none;
    color: aliceblue;
}
#titulo-principal-amd{
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    border-radius: 15px;
    background-color: #2ca62a;
    border-style: none;
    color: aliceblue;
}
body{
    background-image: url(Imagenes/fondo.png);
    background-size: cover;
}
#borde-izquierdo{
    border-radius: 15px;
    background-color: #333;
    border-style: none;
}
#borde-derecho{
    border-radius: 15px;
    background-color: #333;
    border-style: none;
}

#borde-izquierdo-intel{
    border-radius: 15px;
    background-color: #0071c5;
    border-style: none;
}
#borde-derecho-intel{
    border-radius: 15px;
    background-color: #0071c5;
    border-style: none;
}

#borde-izquierdo-amd{
    border-radius: 15px;
    background-color: #d1782a;
    border-style: none;
}
#borde-derecho-amd{
    border-radius: 15px;
    background-color: #d1782a;
    border-style: none;
}
button{
    background-color: transparent;
    color: black;
    border: none;
    
}
#intel-amd{
    background-color: #333;
    border-style: solid;
    border-radius: 15px;
    color: aliceblue;
    border-color: white;
}
#intel-amd2{
    background-color: #000000;
    border-style: solid;
    border-radius: 15px;
    color: aliceblue;
}
#tabla{
    background-color: #333;
    border-style: solid;
    border-radius: 15px;
}
#tabla-intel{
    background-color: #0071c5;
    border-style: solid;
    border-radius: 15px;
}
#tabla-intel2{
    background-color: #333;
    border-style: solid;
    border-radius: 15px;
}
#tabla-amd{
    background-color: #333;
    border-style: solid;
    border-radius: 15px;
}
#tabla-amd2{
    background-color: #d1782a;
    border-style: solid;
    border-radius: 15px;
}
#intel-caracteristicas{
    background-color: #0071c5;
    border-radius: 15px;                 /* empieza botones intel */
    border-style: solid;
    font-size: 40px;
    color: #000000;
}
#intel-arquitectura{
    background-color: #0071c5;
    border-radius: 15px;
    border-style: solid;
    font-size: 40px;
    color: #000000;
}
#intel-review{
    background-color: #0071c5;
    border-radius: 15px;
    border-style: solid;
    font-size: 40px;
    color: #000000;
}
#intel-comprar{
    background-color: #0071c5;
    border-radius: 15px;
    border-style: solid;                     /* Termina botones intel */
    font-size: 40px;
    color: #000000;
}
#amd-caracteristicas{
    background-color: #d1782a;
    border-radius: 15px;
    border-style: solid;                  /* empieza botones amd */   
    font-size: 40px;
    border-color: #2ca62a;
}
#amd-arquitectura{
    background-color: #d1782a;
    border-radius: 15px;
    border-style: solid;
    font-size: 40px;           
    border-color: #2ca62a;
}
#amd-review{
    background-color: #d1782a;
    border-radius: 15px;
    border-style: solid;
    font-size: 40px;
    border-color: #2ca62a;
}
#amd-comprar{
    background-color: #d1782a;
    border-radius: 15px;
    border-style: solid;                 /* termina botones amd */
    font-size: 40px;
    border-color: #2ca62a;
}